mixin sInstCatalog(data)
	// start sInstCatalog
	+b.SECTION.sInstCatalog.section#sInstCatalog&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sInstCatalog
				
			.row
	// end sInstCatalog