mixin sQuantly(data)
	// start sQuantly
	+b.SECTION.sQuantly.section#sQuantly&attributes(attributes)
		.container
				
			.row
				.col-lg-6
					+b.section-title
						h2 14 ЛЕТ ВЫСОЧАЙШЕГО КАЧЕСТВА
					+e.subtitle Роскошь и&nbsp;совершенство в&nbsp;каждой детали, смелость в&nbsp;воплощении идей в&nbsp;сочетании с&nbsp;традиционным savoir-faire лучших мастеров.
					p Команда, состоящая из&nbsp;профессионалов высокого уровня во&nbsp;главе с&nbsp;дизайнером бренда Мариной де&nbsp;Голль, поможет вам с&nbsp;воплощением любой вашей самой смелой идеи в&nbsp;жизнь.
					p За&nbsp;14&nbsp;лет работы члены нашей команды стали безусловными экспертами, а&nbsp;ателье&nbsp;&mdash; лидером в&nbsp;своем сегменте.

				.col-lg-6
					p Материалы самого высокого качества из&nbsp;Италии и&nbsp;Франции, ручной отшив на&nbsp;лучших итальянских фабриках, идеальная посадка гарантируют вам совершенство исполнения уникальность и&nbsp;уникальность даже самых сложных изделий.
					p Материалы для пошива своих коллекций мы&nbsp;заказываем в&nbsp;Италии и&nbsp;Франции. Наши поставщики работают с&nbsp;самыми большими модными домами и&nbsp;премиальными брендами&nbsp;&mdash; Louis Vuitton, Prada, Gucci и&nbsp;др. Отшив женской обуви по&nbsp;индивидуальным заказам выполняется вручную на&nbsp;известных фабриках, которые сотрудничают с&nbsp;Chanel и&nbsp;Hermes, а&nbsp;мужской&nbsp;&mdash; в&nbsp;семейных мастерских во&nbsp;Флоренции и&nbsp;в&nbsp;пригороде Милана, которым несколько десятков лет.

	// end sQuantly