mixin sAboutText(data)
	// start sAboutText
	+b.SECTION.sAboutText.section#sAboutText&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sAboutText
				
			.row
	// end sAboutText