mixin sAboutText(data)
	// start sAboutText
	+b.sAboutText.section#sAboutText&attributes(attributes)
		.container
			.row
				.col-lg-3
					p С&nbsp;момента своего основания ателье Марина Де&nbsp;Голль известно, как бренд, предлагающий эксклюзивный ассортимент изделий из&nbsp;кожи крокодила. Страсть к&nbsp;деталям, высочайшие стандарты производства европейских фабрик, работающих с&nbsp;такими модными домами, как Herm&egrave;s, Stefano Ricci, Zilli, Loro Piana, Fendi, Bottega Veneta, а&nbsp;также высококачественные материалы выводят ателье на&nbsp;первое место среди работающих в&nbsp;данном сегменте.
				.col-lg-3
					p Модели, разработанные главным дизайнером и&nbsp;идеологом проекта&nbsp;&mdash; Мариной Де&nbsp;Голь, отшиваются в&nbsp;Италии вручную мастерами по&nbsp;старой ремесленной традиции с&nbsp;использованием новейших технологий.
				.col-lg-3
					p Лекала создаются по&nbsp;индивидуальным меркам клиента, подбор кожи под изделие осуществляется технологами под контролем главного дизайнера&nbsp;&mdash; Марины Де&nbsp;Голь, а&nbsp;клиенты имеют возможность принять участие в&nbsp;разработке модели! Это позволяет заказчику быть уверенным в&nbsp;том, что его туфли или куртка уникальны и&nbsp;неповторимы и&nbsp;созданы в&nbsp;точности в&nbsp;соотвествии с&nbsp;его пожеланиями.
				.col-lg-3
					p Фурнитура изготавливается по&nbsp;спецзаказу бренда Marina De&nbsp;Golle во&nbsp;Флоренции, на&nbsp;заводе, который выпускает эксклюзивную фурнитуру для премиальных брендов. Вся фурнитура покрыта золотом 0,5 микрон или полудрагоценным металлом палладием.
	// end sAboutText