// start .sContact
.sContact {
	background-color: #222;
	position: relative;

	&__col {
		height: rem(500);
		position: relative;
		@include media-breakpoint-up(md) {
			height: calc(100vh - #{rem(100)});
		}

	}

	&__content {
		color: #e0ddc9;
		display: flex;
		align-items: center;
		@include media-breakpoint-up(lg) {
			padding-left: rem(75);
		}
		// justify-content: center;
	}

	&__mapWrap {
		position: absolute;
		right: 0;
		top: 0;
		@each $breakpoint, $container-max-width in $container-max-widths {
			@include media-breakpoint-up($breakpoint, $grid-breakpoints) {
				--containerW: #{$container-max-width};
			}
		};
		width: 100%;
		@include media-breakpoint-up(md) {
			width: calc(100% + (100vw - var(--containerW)) / 1.9);
		}
		max-width: 850px;
		height: 100%;

		iframe {
			width: 100%;
			height: 100%;
		}
	}

	h2 {
		font-size: rem(28px);
	}

	&__phone, &__mail {
		font-size: rem(24px);

		a {
			color: #e0ddc9;
			text-decoration: none;
		}
	}

	.soc {
		padding-top: rem(40);
		@include media-breakpoint-up(lg) {
			padding-top: rem(60);
		}
		justify-content: flex-start;
	}



	@include media-breakpoint-up(xs) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xs) {}
	//
	@include media-breakpoint-down(xs) {} 

} // end.sContact