mixin sMainCatalog(data)
	// start sMainCatalog
	+b.SECTION.sMainCatalog.section#sMainCatalog&attributes(attributes)
		//-catalogItem start
		mixin item(i,title,code,price)
			+e.item(href="#")
				+pic(`catalogItem-${i}`,'','')
				+e.title!= title
				+e.code= code
				+e.price= price
					|&nbsp;.р
				+e.btnWrap
					+e.btn Купить
		//-catalogItem end
		.container
			+b.section-title.text-center
				h2 СУМКИ
				+e.subtitle ИЗ КОЖИ КРОКОДИЛА

				
			.row
				.col-sm-6.col-lg-4
					+item('1',`Мужская сумка-портфель с одним отделением из кожи крокодила`,'Арт. 259','722500')
				.col-sm-6.col-lg-4
					+item('2',`Мужская сумка-портфель на ручке`,'Арт. 170','722500')
				.col-sm-6.col-lg-4
					+item('3',`Мужской портфель широкий из кожи крокодила`,'Арт. 261','807500')
				.col-sm-6
					+item('4',`Сумка дорожная из кожи крокодила`,'Арт. 262','765000')
				.col-sm-6
					+item('5',`Сумка черная дорожная, спортивная мужская`,'Арт. 101','768570')
			+b.section-title--with-border.text-center
				h2 ОБУВЬ
				+e.subtitle ИЗ КОЖИ КРОКОДИЛА
			
			.row
				.col-sm-6
					+item('6',`Туфли мужские классические на шнуровке на толстой подошве`,'Арт. 193','212500')
				.col-sm-6
					+item('7',`Туфли мужские классические на шнуровке на толстой подошве`,'Арт. 197','297500')
				.col-sm-6
					+item('8',`Туфли-лоферы мужские черные из кожи крокодила`,'Арт. 159','2125000')
				.col-sm-6
					+item('9',`Туфли-лоферы мужские коричневые из кожи`,'Арт. 161','50500')
				.col-sm-6
					+item('10',`Оранжевые мужские ботинки без шнурков из кожи крокодила`,'Арт. 202','70000')
				.col-sm-6
					+item('11',`Черные классические мужские кеды из кожи крокодила`,'Арт. 203','175000')
				.col-sm-6
					+item('12',`Мужские кроссовки из кожи крокодила<br> в классическом стиле`,'Арт. 204','175000')
				.col-sm-6
					+item('13',`Обувь для дома на комфортной мягкой подошве<br> в различных расцветках`,'Арт. 212','100000')
				.col-sm-6
					+item('14',`Кроссовки мужские коричневые из кожи крокодила комбинированные`,'Арт. 111','175000')
				.col-sm-6
					+item('15',`Кеды из кожи крокодила черные`,'Арт. 112','80000')
				.col-sm-6
					+item('16',`Кеды мужские черные из замши и кожи крокодила`,'Арт. 163','153000')
				.col-sm-6
					+item('17',`Кеды мужские коричневые из кожи крокодила с перфорацией`,'Арт. 162','212500')
			+b.section-title--with-border.text-center
				h2 АКСЕССУАРЫ
				+e.subtitle ИЗ КОЖИ КРОКОДИЛА

			
			.row
				.col-sm-6
					+item('18',`Портмоне мужской из кожи крокодила<br>на молнии синий`,'Арт. 152','279000')
				.col-sm-6
					+item('19',`Портмоне мужской из кожи крокодила<br>на молнии коричневый`,'Арт. 155','279000')
				.col-sm-6.col-lg-4
					+item('20',`Женский кошелек для денег и карточек из кожи крокодила`,'Арт. 198','150000')
				.col-sm-6.col-lg-4
					+item('21',`Портмоне из кожи крокодила на молнии`,'Арт. 169','212500')
				.col-sm-6.col-lg-4
					+item('22',`Хьюмидор из кожи крокодила, замши и дерева`,'Арт. 186','420000')


	// end sMainCatalog

