mixin sObjects(data)
	// start sObjects
	+b.SECTION.sObjects.section#sObjects&attributes(attributes)
		.container
			
				
			.row.align-items-center
				.col-sm-5
					+b.section-title
						h2 ОБЪЕКТЫ<br>ЖЕЛАНИЯ
						+icon('slash')
				.col
					p Изделия из&nbsp;кожи крокодила и&nbsp;крокодиловые аксессуары всегда были объектом желания и&nbsp;предметом особой гордости их&nbsp;владельца. Роскошь, статус и&nbsp;эксклюзивность&nbsp;&mdash; это&nbsp;то, что непременно отличает любую вещь из&nbsp;кожи рептилий.
	// end sObjects