mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+e.imgWrap
				img.res-i(src="img/svg/mdg_logo_black.svg", alt="")
			+b.section-title.text-center
				h5 О БРЕНДЕ
				
	// end sAbout