
// start .sAbout
.sAbout {
	
	&__imgWrap {
		max-width: rem(300);
		margin-left: auto;
		margin-right: auto;
	}

	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sAbout