extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sObjects/_sObjects.pug
include ../blocks/sMap/_sMap.pug
include ../blocks/sQuantly/_sQuantly.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sShowroom/_sShowroom.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Marina De Golle - ателье по пошиву эксклюзивных изделий из кожи крокодила'
	title= title
block pagecontent

	+mob-mnu()
	+header()
		+top-nav()
	+headerBlock()
	.container
		.text-center
			a(href="#")
				img.res-i(src="img/@2x/banner_man.jpg", alt="")
		.text-center
			a(href="#")
				img.res-i(src="img/@2x/banner_woman.jpg", alt="")
		.row.g-0
			a.col-md.col-4(href="#") 
				img.res-i(src="img/@2x/banner-3-1.jpg", alt="")
			a.col-md.col-4(href="#") 
				img.res-i(src="img/@2x/banner-3-2.jpg", alt="")
			a.col-md.col-4(href="#") 
				img.res-i(src="img/@2x/banner-3-3.jpg", alt="")
			a.col-md.col-6(href="#") 
				img.res-i(src="img/@2x/banner-3-4.jpg", alt="")
		 
			a.col-md.col-6(href="#") 
				img.res-i(src="img/@2x/banner-3-5.jpg", alt="")

		.row.g-0
			a.col-md.col-4(href="#") 
				img.res-i(src="img/@2x/banner-man-1.jpg", alt="")
			a.col-md.col-4(href="#") 
				img.res-i(src="img/@2x/banner-man-2.jpg", alt="")
			a.col-md.col-4(href="#") 
				img.res-i(src="img/@2x/banner-man-3.jpg", alt="")
			a.col-md.col-6(href="#") 
				img.res-i(src="img/@2x/banner-man-4.jpg", alt="")
		 
			a.col-md.col-6(href="#") 
				img.res-i(src="img/@2x/banner-man-5.jpg", alt="")
		 
		.row.g-0
			a.col-md.col-4(href="#") 
				img.res-i(src="img/@2x/banner-man-6.jpg", alt="")
			a.col-md.col-4(href="#") 
				img.res-i(src="img/@2x/banner-man-7.jpg", alt="")
			a.col-md.col-4(href="#") 
				img.res-i(src="img/@2x/banner-man-8.jpg", alt="")
			a.col-md.col-6(href="#") 
				img.res-i(src="img/@2x/banner-man-9.jpg", alt="")
		 
			a.col-md.col-6(href="#") 
				img.res-i(src="img/@2x/banner-man-10.jpg", alt="")
		 

	+sObjects()
	+sMap()
	+sQuantly()
	+sCatalog()
	+sShowroom()
	+footer()


	