mixin sContent()
	// start sContent
	+b.sContent.section#sContent&attributes(attributes)
		.container
			p Настоящим в&nbsp;соответствии с&nbsp;Федеральным законом &#8470;&nbsp;152-ФЗ &laquo;О&nbsp;персональных данных&raquo; от&nbsp;27.07.2006 года&nbsp;Вы подтверждаете свое согласие на&nbsp;обработку компанией &lt;КОМПАНИЯ&gt; персональных данных: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование в&nbsp;маркетинговых целях,блокирование, обезличивание, уничтожение.
			p Компания &lt;КОМПАНИЯ&gt; гарантирует конфиденциальность получаемой информации. Обработка персональных данных осуществляется в&nbsp;целях эффективного исполнения заказов, договоров и&nbsp;иных обязательств, принятых компанией &lt;КОМПАНИЯ&gt; в&nbsp;качестве обязательных к&nbsp;исполнению.
			p Настоящее согласие распространяется на&nbsp;следующие Ваши персональные данные: фамилия, имя и&nbsp;отчество, адрес электронной почты, почтовый адрес доставки заказов, контактный телефон, платёжные реквизиты.
			p Срок действия согласия является неограниченным. Вы&nbsp;можете в&nbsp;любой момент отозвать настоящее согласие, направив письменное уведомления на&nbsp;адрес: 000000, г. &lt;ГОРОД&gt;, ул. &lt;УЛИЦА&gt;, д. &lt;ДОМ&gt;, офис &lt;ОФИС&gt; с&nbsp;пометкой &laquo;Отзыв согласия на&nbsp;обработку персональных данных&raquo;.
			p Гарантирую, что представленная мной информация является полной, точной и&nbsp;достоверной, а&nbsp;также что при представлении информации не&nbsp;нарушаются действующее законодательство Российской Федерации, законные права и&nbsp;интересы третьих лиц. Вся представленная информация заполнена мною в&nbsp;отношении себя лично.
			p Настоящее согласие действует в&nbsp;течение всего периода хранения персональных данных, если иное не&nbsp;предусмотрено законодательством Российской Федерации.

	// end sContent